/* Estilo para o corpo da página */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #333;
}

/* Container principal para filtros e tabela */
.container {
  /* max-width: 800px; */
  width: 100%;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

/* Estilo para o título */
.title {
  text-align: center;
  margin-bottom: 24px;
  font-size: 2.5rem;
  color: #333;
}

/* Controles acima da tabela (filtros e botão de adicionar) */
.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* Estilo para a seção de filtros */
.filters {
  display: flex;
  gap: 10px;
}

/* Estilo da tabela */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

/* Estilo para células de cabeçalho */
th {
  background-color: #eee;
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

/* Estilo para células de conteúdo */
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

/* Remover a borda da última célula da linha */
th:last-child,
td:last-child {
  border-right: none;
}

/* Efeito de hover para as linhas */
tr:hover {
  background-color: #f1f1f1;
}

/* Estilo dos ícones de ação */
.icon-button {
  color: #1976d2;
  cursor: pointer;
}

/* Estilo do botão de adicionar ofício */
button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #1976d2;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #155a9c;
}

/* Ocultar o scroll horizontal */
.table-container {
  overflow-x: hidden;
}
